/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /* my stuff */

body {
  font: #CC973E;
  background-color: #5C5D5F;
}

.header {
  background-color: #5C5D5F;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#main-logo {
  height: 75px;
  width: 75px;
}
.header2 {
  background-color: #5C5D5F;
  height: 140px;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.header3 {
  background-color: #5C5D5F;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  font: #CC973E;
}

.social-media-links {
  padding-top: 20px;
}

/* work out what can be deleted below */




nav ul a,
nav .brand-logo {
  color: #CC973E;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #CC973E;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
