body {
  font: #CC973E;
  background-color: #0B0401;
}

.socials {
  height: 90px;
  padding: 10px;
  border-bottom: 2px solid #CC973E;
  background-color: #0B0401;
}


.intro {
  display: flex;
  flex-direction: column;
}

.social-media-links {
  padding-top: 20px;
}

.page-footer {
  background-color: #0B0401;
  border-top: 2px solid #CC973E;
}

.sessions {
  margin-top: 15px;
  border-top: 2px solid #CC973E;
}

.small-images {
  margin-top: 15px;
  padding-top: 20px;
  border-top: 2px solid #CC973E;
}

.small-images img {
  padding-top: 20px;
}

.sessions img {
  padding-top: 20px;
}

#about {
  border-top: 2px solid #CC973E;
}

#contact {
  border-top: 2px solid #CC973E;
}

.image-container {
  display: flex;
  justify-content: center;
}

.intro-image {
  width: 200px;
  height: 200px;
}
/* work out what can be deleted below */




nav ul a,
nav .brand-logo {
  color: #CC973E;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #CC973E;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
